.wrapper {
    display: flex;
}

.main-corte-caja {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: 89%;
}

.options-select {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3rem;
}

.tab-list {
    font-size: 2rem;
}

.tab-panel {
    margin-right: 0;
    margin-left: 5%;
    width: 80%;
    height: 80%;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}