.header-tab{
    background-color: #D53124;
    border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
}
.table-products {
    margin: 1rem;
    width: 40%;
}