.wrapper{
    display: flex;
}

.main {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: 89%;
    height: 100vh;
}

.aside{
    width: 10%;
    background-color: cyan;
    height: 100vh;
    display: flex;
}