
.options-select{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3rem;
}

.btn-add{
    display: flex;
    justify-content: flex-end;
    height: 50%;
    margin-right: 2rem;
    margin-top: 50%;
}

.user-comandas-main{
    height: 100%;
}
