.options-select{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3rem;
}

.btn-add{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.user-comandas-main{
    height: 100%;
}

.visible{
    display: block;
}
.no-visible{
    display: none;
}

.table-box{
    height: 75%;
}