.inventory-inputs {
    width: 100%;
    display: flex;
    height: 5rem;
    align-items: baseline;
    justify-content: space-between;
}

.input-box,
.input-box-empty {
    height: 1rem !important;
    width: 15rem;
    align-items: center;
    margin: 0.5rem;
}

.label {
    margin: 5px;
}

span {
    height: fit-content;
}

.done {
    color: lightgreen;
    font-size: 3rem;
    margin: 0.5rem;
}