select {
    margin-right: 4em;
    background: transparent;
    border: none;
    outline: none;
    width: 7rem;
    font-size: 1rem; 
}
select:hover{
    border-bottom: 2px solid #007AFF;
    padding-bottom: 5px;
    transition: 0.3s;
}

