.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.tittle-register {
    font-size: 3rem;
    font-weight: 400;
}

.register-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.send-button {
    width: fit-content;
    color: white !important;
}

.have-account {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 60%;
}