    .header {
        display: flex;
        color: white;
        align-items: center;
    }
    
    .icon {
        font-size: 10rem;
        margin: 1rem;
    }
    
    .tittleText {
        font-size: 4rem;
    }