    .header {
        display: flex;
        color: white;
        align-items: center;
        border-radius: 10px;
        padding: 2rem;
        width: 95%;
        height: 10vh;
    }
    
    .icon {
        font-size: 10rem;
        margin: 1rem;
    }
    
    .tittleText {
        font-size: 4rem;
    }