.hamburguer-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.count {
    display: flex;
    width: 45%;
    align-items: center;
    flex-direction: column;
}

.hamburguers-menu {
    display: flex;
    width: 55%;
    height: 650px;
    flex-wrap: wrap;
}

.bill {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: lightgray;
    width: 87%;
    height: 485px;
    padding: 0.5rem;
    border-radius: 10px;
}

.total {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.button-nocolor {
    background-color: none;
    width: 8rem;
}

.comandas-button {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

.foodAccount {
    display: flex;
    height: 50%;
    flex-direction: column;
}